


/* global css rules */
html, body, #root, .App {
  height: 100%;
}

.flex-container {
  display: flex;
}

.App {
  text-align: center;
  height: 100%;
}

.App-header {
  height: 100px;
  background-color: rgb(172, 169, 14);
}

.App-footer {
  position: absolute;
  bottom: 0;

  height: 50px;
  background-color: rgb(172, 169, 14);
}



