
button{
  
  display: flex;
  margin: 100px auto;
  background-color: rgb(226, 95, 43);
  font-size: 24px;
  padding: 15px 20px;
  border: color black;
  border-radius: 6px;
  box-shadow: 5px 5px 5px 5px rgba(0.1);
     
}

.btn2{
   
  display: block;
  margin: 100px auto;
  background-color: rgb(125, 43, 226);
  font-size: 24px;
  padding: 15px 20px;
  border: color black;
  border-radius: 6px;
  box-shadow: 5px 5px 5px 5px rgba(0.1);
     
}

    
button:hover {
        padding: 25px color black;
        opacity: 0.9;
        cursor: pointer;
        transition: all 200ms ease-in-out;
      }